@import '../../assets/static.scss';
.header-wrapper{
    margin-top: $height-navigation;
    width: 100%;
    height: 90vh;
}

@media screen and (orientation:landscape) {
    .header-wrapper{
        width: 100%;
        height: 50vh;
    }
}