@import '../../../assets/static.scss';

.nav{
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-between;
    height: $height-navigation;
    width: 100%;
    background-color:$secendory-color;
    border-bottom: 1px solid $primary-color;
    z-index: 2;
}
img {
    margin: 1vh 20px;
    height: 8vh;
}

.button-nav{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1vh 10px;
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    background-color: whitesmoke;
    transition: 0.5s;
    .menu-burger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }
}
.links-wrapper{
    display: flex;
    align-self: center;
    margin-top: 12vh;
    opacity: 0;
    height: 80%;
    width: 95%;
    z-index: -2;
}
.button-nav.active{
    opacity: 1;
    border-radius: 0;
    background-color:$primary-color;
    margin: 0;
    height: 100vh;
    width: 60vw;
    .menu-burger{
        top:1vh;
        right: 10px;
        width: 8vh;
        height: 8vh;
        background-color: #fff;
    }
    .links-wrapper.active{
        opacity: 1;
        z-index: 1;
        ul{
            display: flex;

            width: 90%;
            flex-direction: column;
            font-size: 24px;
            text-transform: uppercase;
            color: $secendory-color;
            .link{
                margin: 2vh;
            }
            .psycho-logo{
                height: 6vh;
            }
        }
    }
}
.contact-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vh;
    flex-direction: column;
   a{
    color: white;
    font-size: 16px;
    margin: 10px;
    text-align: center;
    svg{
        font-size: 20px;
        margin-right: 10px;
    }
   }
}



// wrapper dla burgera 
.bar-wrapper{
    display: flex;
    position: relative;
    width: 70%;
    height: 70%;
    .bar{
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: black;
        transition: 0.3s;
        &.one{
            top:calc(25% - 2px);
            &.active{
                top:calc(50% - 2px);
                transform: rotate(45deg);
            }
        }
        &.two{
            top:calc(50% - 2px);
            opacity: 1;
            &.active{
                top:calc(50% - 2px);
                opacity: 0;
            }
        }
        &.three{
            top:calc(75% - 2px);
            &.active{
                top:calc(50% - 2px);
                transform: rotate(135deg);
            }
        }
    }
}

@media screen and (min-width:769px) {
    .nav{
        display: flex;
        position: fixed;
        top:0;
        justify-content: space-between;
        height: $height-navigation;
        width: 100%;
        background-color:$secendory-color;
        border-bottom: 1px solid $primary-color;
        z-index: 2;
    }
    img {
        margin: 1vh 20px;
        height: 8vh;
    }
    .navigation-landscape{
        display: flex;
        width: 70%;
    }
    .landscape-list{
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        width: 80%;
        li{
            position: relative;
            color: #333;
            font-size: 24px;
            text-transform: uppercase;
            transition: color 0.3s ease;
            &::after{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 50%;
                width: 0;
                height: 2px;
                background-color:$primary-color;
                transition: width 0.3s ease, left 0.3s ease;
            }
            &:hover::after{
                width: calc(100% - 4px); 
                left: 2px; 
            }
        }

    }
    
}


